
body{
    height: 100vh;
	background: linear-gradient(#13181d, #20212e, #341b47);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

li{
    list-style: none;
}

li:hover{
    cursor: pointer;
    color: gray;
    transition: 0.5s ease-in-out;
}

.active{
    border-bottom: 2px solid violet;
    padding: 0.7rem

}