@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    background:#15191f
}

.divmaman{
    display: flex;
    align-items: center;
}

.div1{
    background-color: #331B46;
}